@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.schedule__page-header{
    background-color: $white;
    margin: 1rem;
    display: inline-flex;
    flex-direction: row;
    width: 95%;
    justify-content: center;
    border-bottom: 0.025rem solid $cloud;

        &-icon {
            display: inline-flex;
            width: 20%;
            padding: 0.5rem;

        }

        &-title{
            font-weight: 500;
            font-size: 2.5rem;
            padding: 0.5rem;
            color: $darkyellow;
            margin-top: 0.85rem;
        }
}

