@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.signup{
    background-color: $white;
    display: flex;
    flex-direction: column;
    font-family: $font;
    margin: 1rem;

    &__hero {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        gap: 0.5rem;
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
        width:100%;
        
        &-label {
                color: $black;
                width: 100%;
                height: 1.5rem;
                font-weight: 500;
                font-size: 1rem;
                line-height: 1.5rem;
                margin-top: 1rem;
                display: inline-flex;
                flex-direction: column;
                align-items: flex-start;
        }

        &-input {
              font-weight: 700;
              font-size: 16px;
              line-height: 24px;
              border: none;
              border-bottom: 0.025rem solid $graphite;
              width: 100%;
          }

        &-radio {
             font-weight: 700;
             margin-top: 2rem;
        }

        &-option {
            display: inline-flex;
            flex-direction: row;
            border-color: $yellow;
            justify-content: space-around;
        }

        &-radio-label{
            display: inline-flex;
            flex-direction: row;
        }

          &-button {
            width: 100%;
            height: 3rem;
            color: $white;
            font-weight: 600;
            background: $yellow;
            mix-blend-mode: normal;
            box-shadow: 0rem 0.125rem 0.313rem rgba(19, 24, 44, 0.1);
            border-radius: 1.5rem;
            padding: 1rem;
            margin-top: 0.5rem;
            border-color: $yellow;
            &:hover {
                background-color: $darkyellow;
                border-color: $darkyellow;
                }
        }
    }



}