@use "./styles/partials/variables" as *;
@use "./styles/partials/breakpoints" as *;
@use "./styles/partials/mixins" as *;

*,
::before,
::after {
  margin: 0;
  padding: 0rem;
  box-sizing: border-box;
}

body {
  background-color: $white;
  margin: 0;
  padding: 0;
  font-family: $font, "sans-serif";
  list-style-type: none;
}

h1,
h2,
ul,
p,
a {
  margin: 0;
  padding: 0;
  font-family: $font, "sans-serif";
  list-style-type: none;
}